#frontHeader #menu-social {
	margin: 0 auto;	
}

#frontHeader button:focus, #frontHeader button:hover, #frontHeader button:active {
	border-color:transparent;
	color: transparent;	
	outline:none;
	background: transparent;
}